<div class="container is-max-desktop is-flex is-align-items-center full-height-80">
  <div class="full-width">

  <h1 class="has-text-centered is-size-1 has-text-weight-semibold mt-6">Crea una cuenta</h1>
  <div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
      <div class="card mt-6">  
        <div class="p-5">
          <%= render "form", new_user: @new_user %>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
