<div class="bottom-sheet-modal" data-controller="bottom-sheet-modal">
  <div class="sheet-header">
    <div class="drag-handle"></div>
    <button class="close-btn">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <div class="sheet-content">
    <%= turbo_frame_tag "sheet-content" %>
  </div>
</div>
