<div class="bottom-sheet-modal" data-bottom-sheet-modal-target="modal">
  <div class="sheet-header">
    <!--div class="drag-handle"
      data-action="touchstart->bottom-sheet-modal#startDragging:!passive"></div-->
    <button class="close-btn"
      data-action="click->bottom-sheet-modal#hide">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <div class="sheet-content">
    <%= turbo_frame_tag "modal-sheet-content" %>
  </div>
</div>
