<h1 class="is-size-1">HOME</h1>

<div>
  <%#= link_to "Nuevo projecto", new_project_path, class: "button is-light is-pulled-right" %>
  <%= link_to_modal new_project_path do %>
    Neuvo Proyecto
  <% end %>
</div>
