<%= turbo_frame_tag "modal-sheet-content" do %>
  <header class="modal-card-head">
    <h2 class="is-size-2">Nuevo proyecto</h2>
  </header>
  <section class="modal-card-body">
    <%= render "form", new_project: @new_project %>
  </section>
<% end %>
